<?xml version="1.0"?>


<robot name="omni_wheel_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="footprint_link">
    </link>
    <joint name="footprint_joint" type="fixed">
        <origin
            xyz="0.0 0.0 0.0"
            rpy="0 0 0" />
        <parent link="footprint_link" />
        <child link="base_link" />


    </joint>

    <!--Base
    link-->
    <link name="base_link">
        <inertial>
            <origin xyz="0 0.0 0.28" rpy="0 0 0" />
            <mass
                value="0.28" />
            <inertia
                ixx="0.011666666666667"
                ixy="0"
                ixz="0"
                iyy="0.011666666666667"
                iyz="0"
                izz="0.011666666666667" />

        </inertial>
        <collision name="collision">
            <origin
                xyz="0 0.0 0.28"
                rpy="0 0 0" />

            <geometry>
                <mesh filename="../meshes/base.dae" scale="0.01  0.01 0.01" />
            </geometry>
        </collision>
        <visual>
            <origin
                xyz="0 0 0.28"
                rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/base.dae" scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
    </link>


    <link name ="right_wheel">
 
        <inertial>
            <origin
                xyz="0 -0.05 0.0"
                rpy="1.57 0 0" />
            <mass
                value="0.060" />
            <inertia
                ixx="1.825e-4"
                ixy="0"
                ixz="0.00000000"
                iyy="1.825e-4"
                iyz="0"
                izz="1.825e-4" />       
        </inertial>
         <collision name="R_collision">
         <origin
                xyz="0 -0.05 0.0"
                rpy="1.57 0 0" />
          <geometry>
            <cylinder length="0.13" radius="0.14"/>
          </geometry>
        </collision>

        <visual>
            <origin
            xyz="0.0 0.0 0.0"
            rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename ="../meshes/wheel.stl" scale="5 5 5"/>
            </geometry>
           
        </visual>
    </link>






    <!-- left_wheel -->

    <link name ="left_wheel">
 
        <inertial>
            <origin
                xyz="0 -0.05 0.0"
                rpy="1.57 0 0" />
            <mass
                value="0.060" />
            <inertia
                ixx="1.825e-4"
                ixy="0"
                ixz="0.00000000"
                iyy="1.825e-4"
                iyz="0"
                izz="1.825e-4" />       
        </inertial>
         <collision name="L_collision">
         <origin
                xyz="0 -0.05 0.0"
                rpy="1.57 0 0" />
          <geometry>
            <cylinder length="0.13" radius="0.14"/>
          </geometry>
        </collision>

        <visual>
            <origin
            xyz="0.0 0.0 0.0"
            rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename ="../meshes/wheel.stl" scale="5 5 5"/>
            </geometry>
           
        </visual>
    </link>




    <!-- rear_wheel -->

    <link name ="rear_wheel">
 
        <inertial>
            <origin
                xyz="0 -0.05 0.0"
                rpy="1.57 0 0" />
            <mass
                value="0.060" />
            <inertia
                ixx="1.825e-4"
                ixy="0"
                ixz="0.00000000"
                iyy="1.825e-4"
                iyz="0"
                izz="1.825e-4" />       
        </inertial>
         <collision name="RR_collision">
         <origin
                xyz="0 -0.05 0.0"
                rpy="1.57 0 0" />
          <geometry>
            <cylinder length="0.13" radius="0.14"/>
          </geometry>
        </collision>

        <visual>
            <origin
            xyz="0.0 0.0 0.0"
            rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename ="../meshes/wheel.stl" scale="5 5 5"/>
            </geometry>
           
        </visual>
    </link>








        <!-- Joint -->
    <joint name ="right_wheel_joint" type="continuous" >
        <origin
                xyz="0.0 0.68 0.18"
                rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="right_wheel"/>
        <axis xyz="0.0 1.0 0.0"/>
         <limit
            effort="5"
            velocity="5" />
    </joint>

    <!-- material properties -->
    <gazebo reference="right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>





    <joint name ="left_wheel_joint" type="continuous" >
        <origin
                xyz="0.593 -0.37 0.16"
                rpy="0 0 -2.0944" />
        <parent link="base_link"/>
        <child link="left_wheel"/>
        <axis xyz="0.0 1.0 0.0"/>
         <limit
            effort="5"
            velocity="5" />
    </joint>

    <!-- material properties -->
    <gazebo reference="left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>





    <joint name ="rear_wheel_joint" type="continuous" >
        <origin
                xyz="-0.578 -0.34 0.18"
                rpy="0 0 2.0944" />
        <parent link="base_link"/>
        <child link="rear_wheel"/>
        <axis xyz="0.0 1.0 0.0"/>
         <limit
            effort="5"
            velocity="5" />
    </joint>

    <!-- material properties -->
    <gazebo reference="rear_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <!-- <gazebo>
        <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>20.0</odometryRate>
            <robotBaseFrame>chasis</robotBaseFrame>
        </plugin>
    </gazebo> -->


</robot>